* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  overflow: hidden;

  margin: 0;
  font-family: monospace;

  background-color: #8e44ad;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.number {
  font-size: 3rem;
  margin-top: 0.5rem;
}
